In [2]:
%load_ext autoreload
%autoreload 2
import datapreprocess as dp

In [3]:
import pandas as pd
from io import StringIO
csv_data= '''A,B,C,D
1.0,2.0,3.0,4.0
,,,
10.0,11.0,12.0,13.0'''
df=pd.read_csv(StringIO(csv_data))
miss=dp.missing_check(df)

   missing_count  missing_ratio
A              1       0.333333
B              1       0.333333
C              1       0.333333
D              1       0.333333

In [4]:
waydict = {"A": "mean", "B": "median", "C": "mode", "D": "ffill"}

In [5]:

dp.missing_fill(df,waydict)

缺失值检查通过！

      A     B     C     D
0   1.0   2.0   3.0   4.0
1   5.5   6.5   3.0   4.0
2  10.0  11.0  12.0  13.0

In [6]:
dp.data_describe(df)

基本信息:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      float64
 1   B       2 non-null      float64
 2   C       2 non-null      float64
 3   D       2 non-null      float64
dtypes: float64(4)
memory usage: 228.0 bytes
None
--------------------
描述性统计信息：
               A          B          C          D
count   2.000000   2.000000   2.000000   2.000000
mean    5.500000   6.500000   7.500000   8.500000
std     6.363961   6.363961   6.363961   6.363961
min     1.000000   2.000000   3.000000   4.000000
25%     3.250000   4.250000   5.250000   6.250000
50%     5.500000   6.500000   7.500000   8.500000
75%     7.750000   8.750000   9.750000  10.750000
max    10.000000  11.000000  12.000000  13.000000
--------------------
数学统计信息：
   count  mean       std  min   25%  50%    75%   max  skew  kurt
A    2.0   5.5  6.363961  1.0  3.25  5.5   7.75  10.0   NaN   NaN
B    2.0   6.5  6.363961  2.0  4.25  6.5   8.75  11.0   NaN   NaN
C    2.0   7.5  6.363961  3.0  5.25  7.5   9.75  12.0   NaN   NaN
D    2.0   8.5  6.363961  4.0  6.25  8.5  10.75  13.0   NaN   NaN

In [7]:
dp.data_describe(df)

基本信息:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      float64
 1   B       2 non-null      float64
 2   C       2 non-null      float64
 3   D       2 non-null      float64
dtypes: float64(4)
memory usage: 228.0 bytes
None
--------------------
描述性统计信息：
               A          B          C          D
count   2.000000   2.000000   2.000000   2.000000
mean    5.500000   6.500000   7.500000   8.500000
std     6.363961   6.363961   6.363961   6.363961
min     1.000000   2.000000   3.000000   4.000000
25%     3.250000   4.250000   5.250000   6.250000
50%     5.500000   6.500000   7.500000   8.500000
75%     7.750000   8.750000   9.750000  10.750000
max    10.000000  11.000000  12.000000  13.000000
--------------------
数学统计信息：
   count  mean       std  min   25%  50%    75%   max  skew  kurt
A    2.0   5.5  6.363961  1.0  3.25  5.5   7.75  10.0   NaN   NaN
B    2.0   6.5  6.363961  2.0  4.25  6.5   8.75  11.0   NaN   NaN
C    2.0   7.5  6.363961  3.0  5.25  7.5   9.75  12.0   NaN   NaN
D    2.0   8.5  6.363961  4.0  6.25  8.5  10.75  13.0   NaN   NaN

In [8]:
# 示例用法:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 15, 20, 25, 30]
})
col_operations = {
    'A': ['min'],
    'B': ['range', 15, 25]
}
processed_df = dp.uniform_data(df, col_operations)
print(processed_df)

   A    B
0  4  0.0
1  3  1.0
2  2  1.0
3  1  1.0
4  0  0.0

In [9]:
import numpy as np
df=pd.read_csv(r"F:\Files\GITHUB\daily_learn\pyTorch\chapter4\wine.data",header=None)
df.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                   'Proline']

print('Class labels', np.unique(df['Class label']))
df.head()

Class labels [1 2 3]

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [23]:
X_train, X_test, y_train, y_test = dp.split(df, target="Class label")
results = dp.feature_selection(X_train, y_train, way='Lasso')

Lasso回归特征选择结果:
Color intensity                 0.139212
Alcalinity of ash               0.125119
Malic acid                      0.025173
Magnesium                       0.000000
Total phenols                   0.000000
Proanthocyanins                 0.000000
Nonflavanoid phenols           -0.001965
Ash                            -0.026166
Hue                            -0.049077
Alcohol                        -0.063959
OD280/OD315 of diluted wines   -0.175794
Proline                        -0.202564
Flavanoids                     -0.278389
dtype: float64
Accuracy: 0.893820121380957
---------

In [27]:
help(dp.feature_selection)

Help on function feature_selection in module datapreprocess:

feature_selection(X_train: pandas.core.frame.DataFrame, y: pandas.core.series.Series, way='all') -> dict
    特征选择函数，根据指定的方法选择特征，并打印各自的选择结果。

    参数:
    - X_train: DataFrame，训练特征数据。
    - y: Series，目标变量。
    - way: str，特征选择方法。可选 'RandomForest'（随机森林）、'ForwardSelection'（向前逐步回归）、'Lasso'（Lasso回归）、'all'（所有方法）。

    返回:
    - results: dict，包含各方法选择的特征。